/* gemensamt css-dokument för alla html-dokument */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper_index {
    display: grid;
    height: 200vh;
    width: 100%;
    gap: 8px;
    background: red;
    /* background täcker inte allt i olika sidostorlekar */

    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) 1fr;
    grid-template-rows: 200px minmax(300px, 2fr) minmax(150px, 1fr) 100px;
    
    grid-template-areas: 
    "he he he"
    "r1 r1 . "
    "r2 r3 . "
    "fo fo fo"
    ;
}

#burger_of_the_day_img{
    /* height:  minmax(100px, 1fr); */
    /* position: absolute; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* width: minmax(100px 100%); */
}

#text_on_img{
    position: absolute;
    bottom: -75px;
    font-size: 3rem;
}

#reklam1{
    /* position: relative;
    text-align: center; */
    
    padding: 10px;
    background: greenyellow;
    grid-area: r1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("logo_of_skvader.png"); */
    /* background-color: #cccccc;    */
}

#reklam2{
    padding: 10px;
    background: yellowgreen;
    grid-area: r2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reklam3{
    padding: 10px;
    background: hotpink;
    grid-area: r3;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    padding-top: 20px;
    background: salmon;
    /* height: 200px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    grid-area: he;
}

#nav_header {
    width: 100%;
    margin-top:auto;
    background: crimson;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
}

#link_list{
    background: chartreuse;
    height: 40px;
    /* width: 100vw; */
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    display: flex;
    background: darkblue;
    /* height: 100px; */
    /* width: 100vw; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: fo;
}

#nav_footer{
    display: flex;
    /* height: 100vh; */
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-start;
}

#link_list_footer1{
    list-style: none;
    text-decoration: none;
}
/* #link_list_footer1:hover{
    list-style: none;
    cursor: pointer;
    font-weight: bold;
} */


#link_list_footer2{
    list-style: none;
    text-decoration: none;

}

/* #link_list_footer2:hover{
    list-style: none;
    cursor: pointer;
    font-weight: bold;
} */

#link_list_footer3{
    list-style: none;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight:lighter;
    
}

a:hover{
    list-style: none;
    cursor: pointer;
    color: turquoise;
}

#wrapper_meny{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 8px;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 100px;
    
    grid-template-areas: 
    "he he he"
    ".  m1 . "
    ".  m2 . "
    ".  m3 . "
    ".  m4 . "
    "fo fo fo"
    ;
}


#menu_item1{
    padding: 10px;
    background: greenyellow;
    grid-area: m1;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#menu_item2{
    padding: 10px;
    background: greenyellow;
    grid-area: m2;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#menu_item3{
    padding: 10px;
    background: greenyellow;
    grid-area: m3;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#menu_item4{
    padding: 10px;
    background: greenyellow;
    grid-area: m4;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}


#wrapper_om_djuren{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 8px;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 100px;
    
    grid-template-areas: 
    "he he he"
    ".  d1 . "
    ".  d2 . "
    ".  d3 . "
    ".  d4 . "
    "fo fo fo"
    ;
}


#djur1{
    padding: 10px;
    background: greenyellow;
    grid-area: d1;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#djur2{
    padding: 10px;
    background: greenyellow;
    grid-area: d2;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#djur3{
    padding: 10px;
    background: greenyellow;
    grid-area: d3;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#djur4{
    padding: 10px;
    background: greenyellow;
    grid-area: d4;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

}

#logo_img {
    height: 100px;
    width:auto;
}

p{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

h3 {
    text-decoration: none;
    color: white;
    font-family: century;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    text-decoration: none;
    color: white;
    font-family: century;
    font-size: 1.30rem;
    font-weight: bold;
}

h1{
    text-decoration: none;
    color: white;
    font-family: century;
    font-size: 1.75rem;
    font-weight: bold;
}